global_defs {
  notification_email {
  }
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}
   
vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  interval 2
  weight 2
}
   
vrrp_instance haproxy-vip {
  state MASTER
  priority 101
  interface eth0                       # Network card
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 1111
  }
  unicast_src_ip {{ hostvars[inventory_hostname]['ansible_facts']['eth0']['ipv4']['address'] }}   # The IP address of this machine
  unicast_peer {

    {{ hostvars[groups['frontendloadbalancers'][1]]['ansible_facts']['eth0']['ipv4']['address'] }}

  }
   
  virtual_ipaddress {
    {{ virtualIP }}/{{ CIDR }}                  # The VIP address
  }
   
  track_script {
    chk_haproxy
  }
}